.color-red{
	color:red;
}

.color-dark-red{
	
}

.color-orange{
	color:orange;
}

.color-yellow{
	color:#ffd100;
}

.color-green{
	color:green;
}

.color-tank{
	color:#5095ff;
}

.color-heal{
	color:#2bb52a;
}

.color-dps-cac{
	color:#b50000
}

.color-dps-dist{
	color:#51c9d6
}