.color-red{
	color:red;
}

.color-dark-red{
	color:#b50000;
}

.color-orange{
	color:orange;
}

.color-yellow{
	color:#ffd100;
}

.color-green{
	color:green;
}

.color-light-green {
    color: #00ff2b;
}

.color-blue {
    color: #00b8ff;
}

.color-tank{
	color:#5095ff;
}

.color-heal{
	color:#2bb52a;
}

.color-dps-cac{
	color:#b50000
}

.color-dps-dist{
	color:#51c9d6
}

.format-tab{
	padding-left: 30px;
    content: close-quote;
}