body{
	max-width:1200px;
	margin-right:auto;
	margin-left:auto;
	font-family: 'Open Sans', sans-serif;
	color:#EEEEEE;
	background-color:#111111;
}

a{
	text-decoration: none;
	color:#EEEEEE;
}

#navigation-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:50px;
  background-color: #050505;
}

#navigation-menu li:first-child > a > img{
	height: 50px;
}

#navigation-menu li:first-child > a{
	margin:0px;
	padding:0px;
}

#navigation-menu li {
  float: left;
}

#navigation-menu li a, #navigation-menu .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#navigation-menu li a:hover,#navigation-menu  .dropdown:hover .dropbtn,
#navigation-menu .dropdown-content a:hover {
  background-color: rgba(255,255,255,0.2);
}

#navigation-menu li.dropdown {
  display: inline-block;
}

#navigation-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #050505;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

#navigation-menu .dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-align: left;
}

#navigation-menu .dropdown:hover .dropdown-content {
  display: block;
}

#main-content {
	width:100%;
	background-color:#dddddd;
	min-height:200px;
	margin-top: 0px;
	background-color: #333333;
}

#main-content > #gallery{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
	padding:20px;
}

#main-content > #gallery > a{
    display: flex;
    flex-direction: column;
    padding: 1%;
    text-align: center;
	border-radius:20px;
}

#main-content > #gallery > a:hover{
	background-color:rgba(0,0,0,0.3);
}

#main-content > #gallery > a > img{
	height: 300px;
	border-radius:20px;
	margin-bottom:5px;
	box-shadow: 0px 0px 5px #00000085;
}

#strat-main{
	padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#strat-header{
	display:flex;
    justify-content: center;
    align-items: center;
}

#strat-header > div{
	font-size: 3em;
    width: 100%;
	z-index: 2;
}

#strat-header > img{
	max-height: 250px;
	border-radius: 10px;
	z-index: 2;
	margin-top: 10px;
	box-shadow: 0 0 4px 0px #00000066;
	width: 27%;
}

#strat-background-top{
    background-size: 100%;
    width: 1200px !important;
    height: 270px;
    position: absolute;
    z-index: 0 !important;
    opacity: 0.5;
    top: 58px;
	min-height: 30px;
}
@media screen and (max-width: 1200px) {
#strat-background-top{
    background-size: 100%;
    width: 1200px !important;
    position: absolute;
    z-index: 0 !important;
    opacity: 0.5;
    top: 58px;
	padding-top: 23%;
    height: 0 ;
}
}

#strat > .cat-title{
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 3px;
    border-left-width: 4px;
    border-color: #666666;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 25px;
    padding-left: 5px;
}

#strat > .cat-content{
    display: flex;
}

#strat > .cat-content.leftPicture{
    flex-direction: row-reverse;
}

#strat > .cat-content > .cat-text{
    width:100%;
	font-size:1.1em;
	text-align: justify;
	margin-right: 10px;
	margin-left: 10px;
}

#strat > .cat-content > img{
	border-radius:2%;
}

#strat .cat-content .cat-text .icon{
    height:19px;
	border-radius:20%;
}

