body{
	max-width:1200px;
	margin-right:auto;
	margin-left:auto;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	color:black;
}

#navigation-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navigation-menu li {
  float: left;
}

#navigation-menu li a, #navigation-menu .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#navigation-menu li a:hover,#navigation-menu  .dropdown:hover .dropbtn {
  background-color: red;
}

#navigation-menu li.dropdown {
  display: inline-block;
}

#navigation-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#navigation-menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#navigation-menu .dropdown-content a:hover {background-color: #f1f1f1;}

#navigation-menu .dropdown:hover .dropdown-content {
  display: block;
}

#main-content {
	width:100%;
	background-color:#dddddd;
	min-height:200px;
	margin-top: 20px;
}

#main-content > #gallery{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
	padding:20px;
}

#main-content > #gallery > a{
    display: flex;
    flex-direction: column;
    padding: 1%;
    text-align: center;
	border-radius:20px;
}

#main-content > #gallery > a:hover{
	background-color:rgba(0,0,0,0.3);
}

#main-content > #gallery > a > img{
	height: 300px;
	border-radius:20px;
	margin-bottom:5px;
	box-shadow: 1px 1px 5px #888888;
}

#strat-main{
	padding: 15px;
}

#strat-header{
	display:flex;
    justify-content: center;
    align-items: center;
}

#strat-header > div{
	font-size: 3em;
    width: 100%;
}

#strat-header > img{
	height: 250px;
}

#strat > .cat-title{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #666666;
    font-size: 2em;
    margin-bottom: 10px;
}

#strat > .cat-content{
    display: flex;
}

#strat > .cat-text{
    width:100%;
}
